* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #23252C;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
section{
    padding: 0 1.5em 2em;
}
h1{
    margin: 0
}
h3{
    font-weight: 600;
    margin-bottom: .5em;
}
p{
    color: #DCDCDC;
    font-weight: 100;
}
.website{
    text-decoration: none;
    color: white
}
.small-text{
    font-weight: thin;
    color: #F3BF99;
    margin-bottom: .5em
}
.main-container{
    width: 80vw;
    margin: 1.5em auto;
    background-color: #1A1B21;
    border-radius: 10px;
}
.main-img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
.button-container{
    margin-top: 1.5em
}
.button{
    border-radius: 4px;
    margin: .5em;
    padding: .5em;
    text-decoration: none;
}
i{
    margin-right: .4em
}
.linkedin{
    background-color: #5093E2;
    color: white;
}
.email{
    background-color: #374151;
    color: white;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    background-color: #161619;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 2em;
}
.square{
    color: #918E9B;
}